services:
  db:
    image: postgis/postgis:16-3.4
    container_name: tax_backend_db
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=pass
      - POSTGRES_DB=tax_db
    volumes:
      - db_data:/var/lib/postgresql/data

volumes:
  db_data: